.sec1{
  .sliderWrap{
    overflow: hidden;
    .slider{
      transition: transform 0.8s;
      width: 100%;
      height: 30%;
    .img-box{
      width: 300%;
    }
    img{
      float: left;
      width: 100vw;
      height: 100%;
      object-fit: cover;
      }
    }
  }
}

.sec2{
  display: flex;
  justify-content: center;
  .Contents1{
    margin-top: 5vh;
    border: 1px solid red;
    // background-color: $contents-blue;
    // width: 80vw;
    // height: 20vh;
    @include set-box(80vw, 20vh, 30px);
    .top{
      padding: 30px;
      display: flex;
      justify-content: space-between;
      h1{
        padding-top: 5px;
        font-weight: 500;
        font-size: 18px;
        span{
          font-size: 18px;  
          font-weight: 800;
        }
      }
      img{
        padding-right: 1vw;
        width: 100px;
        height: 60px;
        object-fit: contain;
      }
    } /* top end */

  } /* Contents1 end */
}
