$bg-blue: #228be6;
$contents-blue: #098dff;
$contents-blueDark: #1570be;
$contents-blueLight: #5daaed;
$bg-gray: rgb(189, 184, 184);

@mixin set-box($width, $height, $border-radius: 0, $background-color: #fff) {
    width: $width;
    height: $height;
    border-radius: $border-radius;
    background-color: $background-color;
}
